.projects-page , .projects-page .contents{
    width: 100%;
    height: 100%;
    padding: 12px;
}

.projects-page .contents{
    padding: 60px;
    margin-top: 60px;
}

.projects-page .contents .projects{
    width: 100%;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    gap: 12px;
   
}

