* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s background-color;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/jetbrains.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter";
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-bg) !important;
  color: var(--color-text);
}

#root {
  width: 100%;
  height: 100%;
}

.app-contents {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
}

.app-contents > div {
  position: relative !important;
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}

.snow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 99999;
}

.snowflake {
  position: absolute;
  top: -10%;
  color: white;
  user-select: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0.8;
  }
}
