* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s background-color;
}

body {
  font-family: "Inter";
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
}

#root {
  width: 100%;
  height: 100%;
}

.app-contents {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
}

.app-contents > div {
  position: relative !important;
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}

