.about-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../../assets/images/about-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--color-overlay) !important;
}

.about-page > .contents {
  z-index: 1;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.tag-hire {
  padding: 8px 18px;
  font-weight: 600;
  color: var(--color-primary);
  font-family: monospace;
  font-size: 14px;
  background-color: color-mix(in oklab, var(--color-primary) 10%, transparent);
  border-radius: 30px;
  margin-bottom: 12px;
  border: 1px solid var(--color-primary);
}

.about-page .heading-text {
  width: 100%;
}

.about-page .heading-text h2 {
  text-align: center;
  width: 100%;
  line-height: 1.2;
  font-size: 5rem;
  font-family: monospace;
  font-weight: 800;
}

.about-page .heading-text h2.colored {
  background-image: linear-gradient(
    to right in oklab,
    var(--color-primary) 0%,
    var(--color-secondary) 50%,
    var(--color-accent) 100%
  );
  color: transparent;
  background-clip: text;
}

.about-page .heading-text h2:last-child {
  margin-bottom: 16px;
}

.about-page .descreption {
  color: var(--text-muted-foreground);
  font-size: 18px !important;
  width: 70%;
  text-align: center;
  line-height: 1.5 !important;
  margin-bottom: 12px;
}

.about-page .buttons {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.about-page .buttons > button {
  padding: 8px 16px;
  color: var(--text);
  border: 2px solid var(--text-muted-foreground);
  flex-grow: 1;
  border-radius: 30px;
  font-weight: bold;
}

.btn-projects {
  background-color: var(--color-primary) !important;
  border: none !important;
  color: #f8fafc !important;
}

.about-page .social-links {
  display: flex;
  gap: 12px;
}

.about-page .social-links > button {
  color: var(--text-muted-foreground);
  font-size: 22px !important;
}

@media (max-width: 767px) {
  .about-page .heading-text h2 {
    font-size: 3rem !important;
  }
}
