.heading {
width: fit-content;
margin: 30px auto;
padding: 12px;
}
.heading .heading-title {
margin-bottom: 12px;
font-family: "JetBrainsMono";
font-weight: bold;
font-size: 44px;
text-align: center;
/* Add some text effects */
text-transform: uppercase;
letter-spacing: 2px;
text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.heading .heading-info {
font-size: 16px;
color: var(--text-muted-foreground);
width: 80% !important;
text-align: center;
display: block;
margin: auto;
/* Add some text effects */
line-height: 1.5;
text-overflow: ellipsis;
overflow: hidden;
}