.contact-page {
  width: 100%;
  height: 100%;
  padding: 12px;
}

.contact-page .contents {
  width: 100%;
  height: fit-content;
  margin-top: 60px;
  padding: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

.contact-page .contents .info {
  margin-right: 12px;
  width: fit-content;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-page .contents .info > div {
  flex-grow: 1;
  border: 1px solid var(--text-muted-foreground);
  display: flex;
  gap: 24px;
  padding: 20px;
  border-radius: 12px;
}
.contact-page .contents .info > div .icon .inner-icon {
  font-size: 20px !important;
}

.contact-page .contents .info > div .icon {
  padding: 18px;
  border: 1px solid var(--text-muted-foreground);
  height: fit-content;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page .contents .info > div .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-page .contents .info > div .text h4 {
  font-size: 18px !important;
  font-family: "JetBrainsMono";
  font-weight: bold;
  margin-bottom: 8px;
}

.contact-page .contents .info > div .text p {
  font-size: 14px;
  color: var(--text-muted-foreground);
  line-height: 1.8;
}

.contact-page .contents .info > div .text .info-data {
  color: var(--color-primary);
}

.contact-page .social-links {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
}

.contact-page .social-links h3 {
  margin-bottom: 12px;
  font-family: "JetBrainsMono";
  font-size: 22px;
  font-weight: bold;
}

.contact-page .social-links .links {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 12px;
  flex-wrap: wrap;
}
.contact-page .social-links button {
  border: 1px solid var(--text-muted-foreground);
  color: var(--color-text);
  font-size: 12px;
  border-radius: 12px;
  text-align: start !important;
  justify-content: start;
  padding: 12px;
  width: 45% !important;
}

@media (max-width: 992px) {
  .contact-page .contents {
    flex-direction: column !important;
    width: 100%%;
  }
  .contact-page .contents > div {
    width: 100% !important;
  }

  .contact-page .contents > .info > div {
    width: 100%;
  }
}
